@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema de Gestión Inmobiliaria</h1>
    <p>Trabajo Final de .NET de Valeria Miranda</a>.</p>
</div>
